<!-- base.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食品管理系统</title>
    <!-- Bootstrap CSS -->
    <link href="../../static/css/css1/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'success_page2' %}">首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>食物列表</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>类别</th>
                        <th>价格</th>
                        <th>销量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.category }}</td>
                        <td>{{ food.price }}</td>
                        <td>{{ food.sels }}</td>
                        <td>
                            <a href="{% url 'foodedit' food.id %}" class="btn btn-primary">编辑</a>
                            <a href="{% url 'deleteconfirm' food.id %}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://webapps1.chicago.gov/cdn/Bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>